* {
    font-family: georgia;
    text-align: justify;
}

body {
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 0;
    border: 0;			/* This removes the border around the viewport in old versions of IE */
}

input {
    font: inherit;
    margin: 15px;
    padding: 3px;
    display: block;
    width: 60ex;
}